<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Services 应用</title>
	<link rel="stylesheet" type="text/css" href="css/foundation.min.css">

</head>
<body style="padding:10px;" ng-app="app">
	<div ng-controller="FCtrl">
			<input type="text" ng-model="data.msg">
			<h1>{{data.msg}}</h1>
	</div>
	<div ng-controller="SCtrl">
			<input type="text" ng-model="data.msg">
			<h1>{{data.msg}}</h1>
	</div>
</body>
<script src="js/angular.min.js"></script>
<script src="js/app6.js"></script>
</html>