<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>AngularJS  进阶</title>
	<link rel="stylesheet" type="text/css" href="css/foundation.min.css">

</head>
<body style="padding:10px;" ng-app="app">
	<div ng-controller="MyCtrl">
		<input type="text" ng-model="user.uname">
		<input type="text" ng-model="user.pwd">

		<!-- <h>{{reverse}}</h1> -->
		<div class="button" ng-click="login()">登陆</div>
		<div ng-show="errormsg.length>0" class="alert-box">{{errormsg}}</div>
	</div>
	
	
	
	
</body>
<script src="js/angular.min.js"></script>
<script src="js/myctrl4.js"></script>
<script ></script>
</html>