<include file="Index/header" />

<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-9 col-md-9">
				<div class="banner">
					<div class="banner-left">
						<a target="_blank" href="/index.php?c=detail&id={$result}"><img src="($result['topPicNews'][0]['news_id'])" alt=""></a>
					</div>
					<div class="banner-right">
						<ul>
							<volist name="result['topSmailNews']" id="vo">
								<li>
									<a target="_blank" href="/index.php?c=detail&id={$vo.news_id}"><img width="150" height="113" src="{$vo.thumb}" alt="{$vo.title}"></a>
								</li>
							</volist>
						</ul>
					</div>
				</div>
				<div class="news-list">
					<volist name="result['listNews']" id="vo">
						<dl>
							<dt><a target="_blank" href="/index.php?c=detail&id={$vo.news_id}">{$vo.title}</a></dt>
							<dd class="news-img">
								<a target="_blank" href="/index.php?c=detail&id={$vo.news_id}"><img width="200" height="120" src="{$vo.thumb}" alt="{$vo.title}"></a>
							</dd>
							<dd class="news-intro">{$vo.description}</dd>
							<dd class="news-info">{$vo.keywords}<span>{$vo.create_time|data="Y-m-d H:i:s",###}</span>阅读(0)</dd>
						</dl>
					</volist>
				</div>
			</div>
		</div>
	</div>
</section>



<!-- 网站右侧 -->
<include file="Index/right" />