* {
	padding: 0;
	margin: 0;
	font-size: 14px;
}

body {
	background-color: #F5F5F5;
}

/* header */
.top {
	width: 1000px;
	height: 100px;
	background-color: #F2F2EA;
	margin: 0px auto;
}
header img {
	float: left;
	margin-left: 30px;
	width: 80px;
	height: 80px;

}

.search {
	float: right;
	margin-right: 30px;
	height: 50px;
	line-height: 50px;
}
.nav {
	background-color: #7797C7;
	margin:10px auto;
}
.nav li{
	list-style-type: none;
	float: left;
	margin-left: 60px;
}
.nav a:link, .nav a:visited{
	background-color: #DEDEC7;
}


/* wrap */
.wrap {
	width: 1000px;
	margin:30px auto;
}
.container {
	width: 1000px;
	height: 300px;
}
.banner {
	display: inline-block;
	width: 700px;
	height: 300px;
	background-color: #7797C7;
}
.topic {
	display: inline-block;
	width: 250px;
	margin-left: 5px;
}
.topic li img {
	height: 90px;
	margin-top: 8px;
}
.topic li {
	list-style-type: none;
}

.news {
	width: 1000px;
	margin: 20px 30px;
}
.news h2{

}
.news li {
	list-style-type: none;
}



/* footer */
footer {
	background-color: #B0B2B7;
}













